node_modules
.next
out
build
dist
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.pnp
.pnp.js
.vercel
.turbo
coverage
.cache
next-env.d.ts
.eslintcache
.stylelintcache
*.tsbuildinfo
public/sw.js
public/workbox-*.js
public/web-app-manifest-*.js
.next/
.env.local.backup
